<body>
<div class="layout-wrapper">
  <div id="layout-topbar">
    <a class="menu-button" href="#" (click)="activeMenuButtonClick()">
      <i class="fa fa-bars"></i>
    </a>
    <a class="logo" href="#">
      <img class="ng-tns-c0-0" alt="logo" src="assets/showcase/images/logo.png">
    </a>
    <ul class="topbar-menu">
      <li class="ng-tns-c0-0">
        <a class="ng-tns-c0-0" href="#/setup">GET STARTED</a>
      </li>
      <li class="topbar-menu-themes">
        <a class="ng-tns-c0-0" href="#/">THEMES</a>
      </li>
      <li class="ng-tns-c0-0">
        <a class="ng-tns-c0-0" href="#/support">SUPPORT</a>
      </li>
    </ul>
  </div>
  <div id="layout-sidebar" [ngClass]="{'active': isActiveMenuButton}">
    <div class="layout-menu">
      <a id="menu_input" [ngClass]="{'active-menuitem': isActiveInput}" (click)="activeClick()">
        <img class="layout-menu-icon-active" src="assets/showcase/images/icons/input-active.svg">
        <img class="layout-menu-icon-inactive" src="assets/showcase/images/icons/input.svg">
        <span>Input</span>
      </a>
      <div [ngClass]="{'submenushow': isActiveInput , 'submenuhide': !isActiveInput}">
        <a href="#/inputgroup">● InputGroup</a>
        <a href="#/autocomplete">● AutoComplete</a>
        <a href="#/calendar">● Calendar</a>
        <a href="#/checkbox">● Checkbox</a>
        <a href="#/chips">● Chips</a>
        <a href="#/colorpicker">● ColorPicker</a>
        <a href="#/dropdown">● Dropdown</a>
        <a href="#/editor">● Editor</a>
        <a href="#/keyfilter">● KeyFilter </a>
        <a href="#/inputswitch">● InputSwitch</a>
        <a href="#/inputtext">● InputText</a>
        <a href="#/inputtextarea">● InputTextArea</a>
        <a href="#/listbox">● Listbox</a>
        <a href="#/inputmask">● Mask</a>
        <a href="#/multiselect">● MultiSelect</a>
        <a href="#/password">● Password</a>
        <a href="#/radiobutton">● RadioButton</a>
        <a href="#/rating">● Rating</a>
        <a href="#/slider">● Slider</a>
        <a href="#/spinner">● Spinner</a>
        <a href="#/selectbutton">● SelectButton</a>
        <a href="#/togglebutton">● ToggleButton</a>
        <a href="#/tristatecheckbox">● TriCheckbox</a>
      </div>
      <a id="button-menutitle" [ngClass]="{'active-menuitem': isActiveButton}" (click)="activeButtonClick()">
        <img class="layout-menu-icon-active" src="assets/showcase/images/icons/button-active.svg">
        <img class="layout-menu-icon-inactive" src="assets/showcase/images/icons/button.svg">
        <span>Button</span>
      </a>
      <div [ngClass]="{'submenushow': isActiveButton , 'submenuhide': !isActiveButton}">
        <a href="#/button">● Button</a>
        <a href="#/splitbutton">● SplitButton</a>
      </div>
      <a class="ng-tns-c0-0" id="data_menutitle">
        <img class="layout-menu-icon-active" src="assets/showcase/images/icons/data-active.svg">
        <img class="layout-menu-icon-inactive" src="assets/showcase/images/icons/data.svg">
        <span class="ng-tns-c0-0">Data</span>
      </a>
      <a class="ng-tns-c0-0" id="menu_panel">
        <img class="layout-menu-icon-active" src="assets/showcase/images/icons/panel-active.svg">
        <img class="layout-menu-icon-inactive" src="assets/showcase/images/icons/panel.svg">
        <span>Panel</span>
      </a>
      <a class="ng-tns-c0-0" id="menu_overlay">
        <img class="layout-menu-icon-active" src="assets/showcase/images/icons/overlay-active.svg">
        <img class="layout-menu-icon-inactive" src="assets/showcase/images/icons/overlay.svg">
        <span>Overlay</span>
      </a>
      <a class="ng-tns-c0-0" id="menu_file">
        <img class="layout-menu-icon-active" src="assets/showcase/images/icons/file-active.svg">
        <img class="layout-menu-icon-inactive" src="assets/showcase/images/icons/file.svg">
        <span>File</span>
      </a>
      <a class="ng-tns-c0-0" id="menu_menu">
        <img class="layout-menu-icon-active" src="assets/showcase/images/icons/menu-active.svg">
        <img class="layout-menu-icon-inactive" src="assets/showcase/images/icons/menu.svg">
        <span>Menu</span>
      </a>
      <a class="ng-tns-c0-0" id="menu_chart">
        <img class="layout-menu-icon-active" src="assets/showcase/images/icons/charts-active.svg">
        <img class="layout-menu-icon-inactive" src="assets/showcase/images/icons/charts.svg">
        <span>Charts</span>
      </a>
      <a class="ng-tns-c0-0" id="menu_messages">
        <img class="layout-menu-icon-active" src="assets/showcase/images/icons/message-active.svg">
        <img class="layout-menu-icon-inactive" src="assets/showcase/images/icons/message.svg">
        <span>Messages</span>
      </a>
      <a class="ng-tns-c0-0" id="menu_multimedia">
        <img class="layout-menu-icon-active" src="assets/showcase/images/icons/multimedia-active.svg">
        <img class="layout-menu-icon-inactive" src="assets/showcase/images/icons/multimedia.svg">
        <span>Multimedia</span>
      </a>
      <a class="ng-tns-c0-0" id="menu_dnd">
        <img class="layout-menu-icon-active" src="assets/showcase/images/icons/dragdrop-active.svg">
        <img class="layout-menu-icon-inactive" src="assets/showcase/images/icons/dragdrop.svg">
        <span>DragDrop</span>
      </a>
      <a class="ng-tns-c0-0" id="menu_misc">
        <img class="layout-menu-icon-active" src="assets/showcase/images/icons/misc-active.svg">
        <img class="layout-menu-icon-inactive" src="assets/showcase/images/icons/misc.svg">
        <span>Misc</span>
      </a>
    </div>
  </div>
  <div *ngIf="isActiveMenuButton == true" class="layout-mask ng-tns-c0-0 ng-star-inserted">
  </div>
  <div id="layout-content">
    <div class="home">
      <div class="introduction">
        <h1>The Most Complete User Interface Suite</h1>
        <h2>for Angular</h2>
        <a class="home-button" href="#/setup">
          GET STARTED
        </a>
      </div>
      <div class="features">
        <h3>Why PrimeNG?</h3>
        <p class="features-tagline">Congratulations! 🎉 Your quest to find the UI library for Angular is complete.</p>
        <p style="features-description">PrimeNG is a collection of rich UI components for Angular. All widgets are open
          source and free to use under MIT License. PrimeNG is developed by <a href="http://www.primetek.com.tr">PrimeTek
            Informatics</a>,
          a vendor with years of expertise in developing open source UI solutions. For project news and updates, please
          follow us on <a href="https://twitter.com/prime_ng">twitter</a> and visit our <a
            href="https://www.primefaces.org/category/primeng/">blog</a>.</p>
      </div>
    </div>
  </div>
</div>
</body>
