<div id="page">
  <div class="landing-page-new">
    <header>
      <div class="container">
        <div class="col-xs-4">
          <nav class="navigation navigation-header">
            <div class="navigation-brand">
              <div class="brand-logo">
                <a href="/" title="beeketing">
                  <img src="../../assets/images/beeketing1.png">
                </a>
              </div>
            </div>
          </nav>
        </div>
        <div class="col-xs-8">
          <div class="navbar-menu">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/features" data-hover="Features" class="features" title="Features"
                                    data-event="Click features from homepage">
                <span>Features</span>
              </a>
              </li>
              <li><a href="/pricing" data-hover="Pricing" title="Pricing">
                <span>Pricing</span>
              </a>
              </li>
              <li><a href="/about" data-hover="About" title="About">
                <span>About</span>
              </a>
              </li>
              <li><a href="/login" data-hover="Login" title="Login"
              >
                <span>Login</span>
              </a>
              </li>
              <li class="last"><a href="/get-started" title="Get Started"
                                  class="tracking-target"
                                  style="color: #0088ff;">
                <span class="get-started">GetStarted</span>
              </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
  </div>
  <div class="main-content">
    <div class="slider">
      <div class="container">
        <div class="title">
          <p style="font-size:35px">Convert Customers</p>
          <p style="font-size: 50px;">Personally & Automatically</p>
          <p style="font-size:18px;margin-top:90px;color: white;margin-left:20px;margin-bottom: 20px;"> Your customers
            all behave
            differently, why treat them all the same?</p>
          <a href="/getstarted" class="border-box">
            <span style="font-size:20px">Get started now</span>
          </a>
        </div>
      </div>
      <!--<img src="../../assets/images/layout.jpg">-->
    </div>
    <section class="customers-slider">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 customers-content">
            <p style="font-size:20px;color:black;padding-left: 85px">Helping more than <span
              style="font-weight: bold">6,000 online sellers</span> to
              sell millions of
              customers</p>
            <div class="bx-wrapper" style="max-width: 830px">
              <div class="bx-viewport">
                <ul>
                  <li>
                    <a class="bx-prev" href="">Prev</a>
                  </li>
                  <li>
                    <img src="../../assets/images/logo-app-7.png">
                  </li>
                  <li>
                    <img src="../../assets/images/logo-app-6.png">
                  </li>
                  <li>
                    <img src="../../assets/images/logo-app-5.png">
                  </li>
                  <li>
                    <img src="../../assets/images/logo-app-4.png">
                  </li>
                  <li>
                    <img src="../../assets/images/logo-app-3.png">
                  </li>
                  <li><a class="bx-next" href="">Next</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="show-how-work">
      <div class="container">
        <div class="text-center">
          <h1 style="font-weight: 400">How it works</h1>
          <p class="play-video">PLAY VIDEO INTRO <a href="/play" title="Play video intro"><i
            class="fa fa-play-circle"></i></a>
          </p>
        </div>
        <div class="col-xs-6 ipad"></div>
        <div class="col-xs-6">
          <div class="track-customer">
            <p style="font-size:30px;font-weight: 300">Track your customers' behaviors</p>
            <p style="font-size:18px;font-weight: 100;width: 600px ">Every visit to your store gets tied to a real
              person. Beeketing
              helps you see who
              they are, know what they do on your store.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="analyze">
      <div class="container">
        <div class="col-xs-7">
          <div class="track-customer2">
            <p style="font-size:30px;font-weight: 300">Analyze & Learn their interest on your store</p>
            <p style="font-size:18px;font-weight: 100">By analyzing and learning their interests,Beeketing
              puts you a
              step ahead of the customer journey to predict products they're most likely to buy.</p>
          </div>
        </div>
        <div class="col-xs-5 iphone"></div>

      </div>
    </section>
    <section class="smarter-marketing">
      <div class="container">
        <div class="text-center" style="margin-bottom:100px;">
          <h2>Smarter Marketing Apps to turn your visitors into revenue</h2>
          <h3>From the data collected, we build a platform of smart marketing apps to follow your visitors right when
            they step on your store and gradually convert them to customers - then loyal customers for you.</h3>
        </div>
        <div class="col-xs-12 book"></div>
      </div>
    </section>
    <section class="ready">
      <div class="container">
        <div class="text-center" style="margin-bottom:100px;">
          <h2 style="margin-bottom: 30px">Ready to Get Started</h2>
          <div class="row text-center"><a class="border2-box" href="/#"><span>View More Apps</span></a></div>
        </div>
        <hr style="padding-top:2px"/>
      </div>
    </section>
    <section class="ready">
      <div class="container">
        <div class="text-center">
          <h2>E-marketing apps that give every sellers <b>the POWER</b></h2>
          <h2>to sell effectively like Amazon</h2>
          <div class="bx-viewport">
            <ul>
              <li>
                <img src="../../assets/images/scvsoft-logo.png">
              </li>
            </ul>
          </div>
          <h4><i>"Beeketing has increase our conversion rate by 23% and bring back the lost revenue within just a couple
            of
            weeks. The extra sales has paid for the app itself for the whole year! </i></h4>
          <h4><i>Definitely recommended!"</i></h4>
          <h4 style="color:#006ae2;padding-top:30px">Helen Jones</h4>
          <h4>FOUNDER OF AVIVA BOUTIQUE</h4>
        </div>
      </div>
    </section>
    <section class="e-commerce">
      <div class="container">
        <div class="text-center">
          <h3>Seamlessly integrated with your e-commerce platform,
            install with just a few clicks</h3>
        </div>
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="row">
            <div class="col-md-2 block">
              <div class="shopify image"></div>
            </div>
            <div class="col-md-2 block">
              <div class="seoshop image"></div>
            </div>
            <div class="col-md-2 block">
              <div class="weebly image"></div>
            </div>
            <div class="col-md-2 block">
              <div class="tictail image"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 block">
              <div class="bigcommerce image"></div>
            </div>
            <div class="col-md-2 block">
              <div class="woocommerce image"></div>
            </div>
            <div class="col-md-2 block">
              <div class="magento image"></div>
            </div>
            <div class="col-md-2 block">
              <div class="beeketing image"></div>
            </div>
          </div>
          <div class="more">... and more.</div>
        </div>
      </div>
    </section>
    <section class="footer">
      <div class="container">
        <div class="text-center white">
          <h1 style="text-transform: uppercase">Ready to increase your sales by 20%+?</h1>
          <h4>No sales team, no marketers, no engineers. Just results & Beeketing.</h4>
          <a class="border1-box">Get started now</a>
          <nav class="nav-footer">
            <ul class="ul-footer">
              <li class="active"><a href="/blog">Blog</a></li>
              <li><a href="/presskit">Press kit</a></li>
              <li><a href="/careers">Careers</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </nav>
          <p style="color:white;">Contact Us | © Beeketing 2015. All rights reserved.</p>
        </div>
      </div>
    </section>

  </div>
</div>

